
.hover-radio label {
    border-radius: 6px;
    cursor: pointer;
}

.hover-radio label:hover {
    background-color: rgba(13,110,253,0.15);
}


.closed-panel {
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.5s ease, visibility 0s linear 0.5s;
}

.opened-panel {
    overflow: hidden;
    max-height: 50vh;
    visibility: visible;
    transition: max-height 0.5s ease;
}


.someclass{
    padding: 5px 5px 5px 5px !important;
}


.slider-class{
    width:10vw;
    padding: 0 5px 10px 25px !important;
}
.rc-slider-tooltip-inner {
    background-color: #616161 !important;
    color: white;
    border-radius: 5px;
    padding: 4px 3px 6px 3px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    line-height: normal !important;
}





.custom-dropdown .Select-control {
    height: 15px;
}
.custom-dropdown .Select-input input {
    height: 15px !important;
    padding: 20px 0 0 0 !important;
    caret-color: transparent !important;
}
.custom-dropdown .Select-placeholder, .Select-value {
    line-height: 35px !important;
}
.custom-dropdown .Select-value-label{
    color: white !important;
    background-color: #616161 !important;
    padding: 4px 3px 4px 3px !important;
    border-radius: 5px;
}
.custom-dropdown .Select-arrow-zone {
    display: none !important;
}
.custom-dropdown.Select.is-focused:not(.is-open) > .Select-control {
    border-color: transparent !important;
    box-shadow: none !important;
    border: 0 !important;
}



.regular-dropdown .Select-value-label{
    color: black !important;
    background-color: transparent !important;
    padding: 5px 5px 5px 5px !important;
    border-radius: 5px;
}



.split-background {
  background: linear-gradient(to right, #f9a75a59 0%, #f9a75a59 50%, #599ad358 50%, #599ad358 100%);
}





/* .DateInput_input {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(34, 40, 50);
    color: white;
    font-weight: normal !important;
} */

.DateInput_input {
    font-size: 16px;
    padding: 0px 0px 0px 10px;
    background-color: white;
    color: black;
    font-weight: normal !important;
}


.SingleDatePickerInput__withBorder {
    border: none;
}

.DateInput_fang {
    z-index: -2;
}

.SingleDatePicker_picker {
    top: 30px !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 6px 0 gray !important;
}

.DayPickerKeyboardShortcuts_show {
    z-index: -2;
    right: 5px !important;
    bottom: 5px !important;
}

.DateInput_input__focused {
    border-bottom: 2px solid rgb(0, 136, 255) !important;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background-color: rgb(0, 136, 255) !important;
    border: 1px double rgb(0, 136, 255) !important;
}


.DayPicker, .DayPicker__withBorder {
    border-radius: 5px !important;
}

